@import url('https://fonts.googleapis.com/css?family=Montserrat');

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}
input[type=text]:focus {
  border: 3px solid #3498DB;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

input[type=email]:focus {
  border: 3px solid #3498DB;
}
input[type=submit], input[type=reset] {
  background-color: #3498DB;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
b{
	font-family: 'Montserrat', sans-serif;
	
}
.form-contato{
	text-align: left;
}

p#copy{
	text-align: center;
}
p#enviar-limpar{
	position: relative;
	left: -1%;
}
.formulario-contato{
	position: absolute;
	left: 32%;

}
textarea {
resize:none;
}
footer#rodape-contato {
  background-color: #355C7D;
  padding: 1px;
  color: white;
  margin-top: 35%;
}

